:root{
  --randomH: 0;
  --randomE: 0;
  --randomL: 0;
  --randomL2: 0;
  --randomO: 0;
}

@font-face {
  font-family: "Hello";
  src: url("../fonts/helloGX.ttf") format("truetype-variations");
}
@font-face {
  font-family: "IBM";
  src: url("../fonts/IBMPlexSansVar-Roman.ttf") format("truetype-variations");
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0; 
}
body{
  font-family: "IBM";
  background-color: rgb(0, 0, 0);
  display: flex;
  padding: 0;
  color:white;
  overflow: hidden;
}

.cont{
  height: 100%;
  display: inline-block;
  position: relative;
}

#fondo{
  height: 100%;
}

#title{
  font-family: "Hello";
  font-size:8vh;
  position: absolute;
  top: 6vh;
  left: 33vh;
  line-height: 4vh;
  height: 19vh;
  width: 19vh;
  padding:3vh;
  box-sizing: border-box;
  border-radius: 80px;
  overflow: hidden;

}

#h{font-variation-settings: "RNDM" var(--randomH);}
#e{font-variation-settings: "RNDM" var(--randomE);}
#l{font-variation-settings: "RNDM" var(--randomL);}
#l2{font-variation-settings: "RNDM" var(--randomL2);}
#o{font-variation-settings: "RNDM" var(--randomO);}

.controles{
  padding: 10px;
  border: 1px #00AEEF solid;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 65vh;
  left: 93vh;
}

.info{
  font-size: 2vh;
  font-variation-settings: "wght" 400;
  line-height: 2.5vh;
  position: absolute;
  top: 70vh;
  left: 93vh;
  width:30vh;
}

.explanation{
  font-variation-settings: "wght" 200;
}

.categories{
  font-variation-settings: "wght" 600;
}

.credit{
  font-variation-settings: "wght" 100;
  font-size: 1.2vh;
}