:root{
  --weightH1: 100;
}

@font-face {
  font-family: "IBM";
  src: url("../font/IBMPlexSansVar-Roman.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Reflection";
  src: url("../font/reflection-typeface.ttf") format("truetype-variations");
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;  
}
body{
  font-family: "IBM";
  display: flex;
  /*justify-content: center;*/
  margin-top:3em;
  align-items: center;
  flex-direction: column;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color:cornflowerblue;
}

h1{
  font-family: "Reflection";
  margin: 0;
  font-variation-settings: "wght" var(--weightH1);
  font-size: 15em;
  color: #00AEEF;
  padding-bottom: .15em;
}

h2{
  margin: 0;
  font-variation-settings: "wght" 500;
  font-size: 3em;
}

#year{
  width: 500px;
}

.info{
  text-align: center;
  font-size: 1.2em;
  font-variation-settings: "wght" 500;
  line-height: 1.7em;
}

#showYearValue, #showSealevel, #showAxisValue{
  font-variation-settings: "wght" 300;
}

#axis{
  margin-top: 1em;
  font-size: 1em;
}

.credits{
  font-size: .7em;
}

.source{
  padding-top: 2em;
}